
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#drawDiv {
  position: fixed;
  left: 20px;
  top: -20px;
  z-index: 10;
}
